# Ignore everything
*

# Except these base files...
!.gitignore

# Allow traversing these subdirectories
!LINCS_L1000/
!RummaGEO/
!ExRNA/
!GTEx/
!IDG/
!Metabolomics/
!GlyGen/
!HuBMAP/
!MoTrPAC/
!KOMP2/

!LINCS_L1000/**/
!RummaGEO/**/
!ExRNA/**/
!GTEx/**/
!IDG/**/
!Metabolomics/**/
!GlyGen/**/
!HuBMAP/**/
!MoTrPAC/**/
!KOMP2/**/

# Allow certain filetypes
!LINCS_L1000/**/*.py
!LINCS_L1000/**/*.r
!LINCS_L1000/**/*.R
!LINCS_L1000/**/*.sh
!LINCS_L1000/**/*.md
!LINCS_L1000/**/*.pdf
!LINCS_L1000/**/*.png
!LINCS_L1000/**/*.txt
!RummaGEO/**/*.py
!RummaGEO/**/*.r
!RummaGEO/**/*.R
!RummaGEO/**/*.sh
!RummaGEO/**/*.md
!RummaGEO/**/*.pdf
!RummaGEO/**/*.png
!RummaGEO/**/*.txt
!ExRNA/**/*.py
!ExRNA/**/*.r
!ExRNA/**/*.R
!ExRNA/**/*.sh
!ExRNA/**/*.md
!ExRNA/**/*.pdf
!ExRNA/**/*.png
!ExRNA/**/*.txt
!GTEx/**/*.py
!GTEx/**/*.r
!GTEx/**/*.R
!GTEx/**/*.sh
!GTEx/**/*.md
!GTEx/**/*.pdf
!GTEx/**/*.png
!GTEx/**/*.txt
!GTEx/**/*.tsv
!IDG/**/*.py
!IDG/**/*.r
!IDG/**/*.R
!IDG/**/*.sh
!IDG/**/*.md
!IDG/**/*.pdf
!IDG/**/*.png
!IDG/**/*.txt
!Metabolomics/**/*.py
!Metabolomics/**/*.r
!Metabolomics/**/*.R
!Metabolomics/**/*.sh
!Metabolomics/**/*.md
!Metabolomics/**/*.pdf
!Metabolomics/**/*.png
!Metabolomics/**/*.txt
!GlyGen/**/*.py
!GlyGen/**/*.r
!GlyGen/**/*.R
!GlyGen/**/*.sh
!GlyGen/**/*.md
!GlyGen/**/*.pdf
!GlyGen/**/*.png
!GlyGen/**/*.txt
!HuBMAP/**/*.py
!HuBMAP/**/*.r
!HuBMAP/**/*.R
!HuBMAP/**/*.sh
!HuBMAP/**/*.md
!HuBMAP/**/*.pdf
!HuBMAP/**/*.png
!HuBMAP/**/*.txt
!MoTrPAC/**/*.py
!MoTrPAC/**/*.r
!MoTrPAC/**/*.R
!MoTrPAC/**/*.sh
!MoTrPAC/**/*.md
!MoTrPAC/**/*.pdf
!MoTrPAC/**/*.png
!MoTrPAC/**/*.txt
!KOMP2/**/*.py
!KOMP2/**/*.r
!KOMP2/**/*.R
!KOMP2/**/*.sh
!KOMP2/**/*.md
!KOMP2/**/*.pdf
!KOMP2/**/*.png
!KOMP2/**/*.txt

