# Ignore everything
*

# Except these base files...
!.gitignore

# adding webservices and notes
!notes/
!notes/**/
!notes/**/*.txt
!notes/**/*.pdf
!notes/**/*.sql

!python-flask-server/
!python-flask-server/**/
!python-flask-server/**/*.py
!python-flask-server/**/*.sqlite
python-flask-server/**/__init__.py


# Allow traversing these subdirectories
!LINCS_L1000/
!RummaGEO/
!ExRNA/
!GTEx/
!IDG/
!Metabolomics/
!GlyGen/
!HuBMAP/
!MoTrPAC/
!KOMP2/
!database

!LINCS_L1000/**/
!RummaGEO/**/
!ExRNA/**/
!GTEx/**/
!IDG/**/
!Metabolomics/**/
!GlyGen/**/
!HuBMAP/**/
!MoTrPAC/**/
!KOMP2/**/
!database/**/

# Allow certain filetypes
!LINCS_L1000/**/*.py
!LINCS_L1000/**/*.r
!LINCS_L1000/**/*.R
!LINCS_L1000/**/*.sh
!LINCS_L1000/**/*.md
!LINCS_L1000/**/*.pdf
!LINCS_L1000/**/*.png
!RummaGEO/**/*.py
!RummaGEO/**/*.r
!RummaGEO/**/*.R
!RummaGEO/**/*.sh
!RummaGEO/**/*.md
!RummaGEO/**/*.pdf
!RummaGEO/**/*.png
!ExRNA/**/*.py
!ExRNA/**/*.r
!ExRNA/**/*.R
!ExRNA/**/*.sh
!ExRNA/**/*.md
!ExRNA/**/*.pdf
!ExRNA/**/*.png
!GTEx/**/*.py
!GTEx/**/*.r
!GTEx/**/*.R
!GTEx/**/*.sh
!GTEx/**/*.md
!GTEx/**/*.pdf
!GTEx/**/*.png
!IDG/**/*.py
!IDG/**/*.r
!IDG/**/*.R
!IDG/**/*.sh
!IDG/**/*.md
!IDG/**/*.pdf
!IDG/**/*.png
!Metabolomics/**/*.py
!Metabolomics/**/*.r
!Metabolomics/**/*.R
!Metabolomics/**/*.sh
!Metabolomics/**/*.md
!Metabolomics/**/*.pdf
!Metabolomics/**/*.png
!GlyGen/**/*.py
!GlyGen/**/*.r
!GlyGen/**/*.R
!GlyGen/**/*.sh
!GlyGen/**/*.md
!GlyGen/**/*.pdf
!GlyGen/**/*.png
!HuBMAP/**/*.py
!HuBMAP/**/*.r
!HuBMAP/**/*.R
!HuBMAP/**/*.sh
!HuBMAP/**/*.md
!HuBMAP/**/*.pdf
!HuBMAP/**/*.png
!MoTrPAC/**/*.py
!MoTrPAC/**/*.r
!MoTrPAC/**/*.R
!MoTrPAC/**/*.sh
!MoTrPAC/**/*.md
!MoTrPAC/**/*.pdf
!MoTrPAC/**/*.png
!KOMP2/**/*.py
!KOMP2/**/*.r
!KOMP2/**/*.R
!KOMP2/**/*.sh
!KOMP2/**/*.md
!KOMP2/**/*.pdf
!KOMP2/**/*.png
!database/**/*.py
!database/**/*.sql
!database/**/*.sh
!database/**/*.md
